- last ||= 100
- lane_counter ||= -1

.lane{lane_params(lane, last-1 == lane_counter)}
  %h2
    = lane.title
    - if lane.max_items > 0
      (#{lane.max_items})
  - if lane.is_super_lane?
    = render :partial => 'lanes/lane', :collection => lane.sub_lanes, :locals => { :last => lane.sub_lanes.length }
  - else
    - name = "#{lane.title.gsub(/\s/, "_").downcase}"
    %ul.dnd{:id => "#{lane.id}", :href => dnd_items_url(@project, lane), :limit => lane.max_items, :name => name, :class => name}
      = render lane.items, :lane => lane