- if logged_in?
  -# TODO remove temporary solution
  - @project ||= Project.first
!!! Strict 
%html
  %head 
    %title BanKan:: kanban can ban scrum!
    = stylesheet_link_tag 'compiled/main.css', :media => 'screen, projection'
    = javascript_include_tag 'jquery-1.3.2.min.js'
    = javascript_include_tag 'jquery-ui-1.7.2.custom.js'
    = javascript_include_tag 'jquery.utils.js'
    = javascript_include_tag 'application.js'
    = javascript_include_tag 'jquery.simplemodal-1.3.min.js'
    = javascript_include_tag 'joose.js'
    = javascript_include_tag 'controller.js'
    = javascript_include_tag 'item_controller.js'
    = javascript_include_tag 'jquery.reject.min.js'
    = javascript_include_tag 'jquery.pulse.js'
    = javascript_include_tag 'jquery.qtip-1.0.0-rc3.min.js'
    
    = js_behavior 
  %body
    #root
      #topnav_container
        %h1 
          %span.static KanBan 
          = if logged_in?
            %span.dynamic= @project.name
        #topnav
          = if logged_in?
            %ul.dynamic
              %li= link_to "Backlog", project_backlog_url(@project)  
              %li= link_to "Dashboard", project_dashboard_url(@project)
              %li= link_to "Livelog", project_livelog_url(@project)
              %li= link_to "Statistiken", project_statistics_url(@project)
            %ul.static
              %li= link_to "Projects"
              %li= link_to "Logout", user_sessions_url, :method => :delete
      #content
        = yield
      #root_footer
    #footer
    %script
      $(document).ready(function () {
      = yield :dom_ready
      $.reject({  
      reject: { msie: true },
      close: false, 
      header: 'Your browser is not supported here', 
      display: ['firefox','safari'],
      paragraph1: 'Please use one of the following ...'
      });
      });